.card {
  /** max-width: 400px;  **/
  width: 100%;
  cursor: pointer;
  background: #002b5c;
  color: white;
  border-radius: 0px;
  margin-top: 1rem;
}

.header-image {
  background-size: cover;
}

mat-card-title.title {
  font-size: 0.7rem;
  color: white;
}

mat-card-subtitle.subtitle {
  color: white;
}
