.example-card {
  max-width: 400px;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: #002b5c;
  color: white;
  border-radius: 0px;
}

.example-header-image {
  background-image: url("https://randomuser.me/api/portraits/men/91.jpg");
  background-size: cover;
}

mat-card-title.title {
  font-size: 0.7rem;
  color: white;
}

mat-card-subtitle.subtitle {
  color: white;
}
