.content {
    // height: calc(100vh - 98px);
     border-radius: 10px;
     margin: 16px;
     margin-left: 32px;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     color: lightgray;
     overflow: auto;
   }
   
   @media (max-width: 576px) {
     .content {
       margin-left: 1rem;
     }
   }