<!-- Header -->
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  feedly
</mat-toolbar>

<!-- Sidebar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="http://uitheme.net/sociala/images/user-12.png"
    />

    <h4 class="name">Jennifer Sharmila</h4>
    <p class="designation">@JennySharmila</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Newsfeed</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <!--
     <div class="friend-list">
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
    </div>
   -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-posts></app-posts>
      <app-video-post></app-video-post>
      <app-photo></app-photo>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
