.card {
  max-width: 400px;
}

@media (min-width: 576px) {
  .card {
    max-width: 550px;
  }
}

.example-header-image {
  background-image: url("https://images.unsplash.com/photo-1541710430735-5fca14c95b00?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ");
  background-size: cover;
}

mat-card {
  border-radius: 15px !important;
}
a {
  text-decoration: none;
  outline: none;
}
.more {
  font-weight: 600;
  color: #1e74fd !important;
}

.post-text-content {
  color: #adb5bd !important;
  font-weight: 500;
  line-height: 26px;
}

mat-card-subtitle {
  color: #adb5bd !important;
  font-weight: 500 !important;
}

mat-card-title {
  font-weight: 700 !important;
  color: #212529 !important;
  font-size: 12px !important;
}

button {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem !important;

  mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}

.card {
  margin: 1rem;
}

// Style for photos
div.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.image {
  border-radius: 0.3rem !important;
  width: 100% !important;
  vertical-align: middle;
}

// style for videos
.video-btn {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}

.video-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -35px;
  margin-top: -35px;
  display: block;
  width: 70px;
  height: 70px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.video-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -15px;
  margin-top: -15px;
  background-image: url(../../../assets/images/play.png);
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
}

.video {
  width: 100% !important;
  float: right !important;
}
