<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Janae Randolph </mat-card-title>
    <mat-card-subtitle>3 hours ago</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="post-text-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
      dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis
      pharetra. Proin blandit ac massa sed rhoncus
      <a href="#" class="more">See more</a>
    </p>

    <div class="row">
      <div class="container">
        <a href="images/t-30.jpg" data-lightbox="roadtr">
          <img
            src="http://uitheme.net/sociala/images/t-30.jpg"
            class="image"
            alt="image"
          />
        </a>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="accent">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="warn">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>comment</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
